################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projeto/.vs/projeto/FileContentIndex/05672e70-23dc-4336-9604-347a8aff9a2e.vsidx
